<!DOCTYPE html>
<html lang="en">

<body>
    <div id="app" class="container mx-auto p-4 flex flex-col h-full">
        <div v-if="!isLoggedIn" class="login-container">
            <h2>Apakah Anda ingin login ke akun Anda?</h2>
            <p>Jika iya, silahkan masukkan nama dan password. Anda boleh skip login ini jika Anda tidak punya akun</p>
            <input type="text" v-model="username" placeholder="Username" class="login-input">
            <input type="password" v-model="password" placeholder="Password" class="login-input">
            <button @click="login" class="btn bg-green-500 hover:bg-green-700 text-white">Login</button>
            <button @click="skipLogin" class="btn btn-outline">Skip Login</button>
        </div>

        <div v-else class="chat-container">
            </div>

        <script type="module">
            new Vue({
                el: '#app',
                data() {
                    return {
                        username: '',
                        password: '',
                        isLoggedIn: false,
                        // ... data lainnya ...
                    }
                },
                methods: {
                    login() {
                        // TODO: Implementasi login ke database atau sistem autentikasi lain
                        // Untuk saat ini, kita anggap login selalu berhasil
                        this.isLoggedIn = true;
                    },
                    skipLogin() {
                        this.isLoggedIn = true;
                    },
                    // ... metode lainnya ...
                }
            });
        </script>
    </div>
</body>

</html>
